* {
	box-sizing: border-box;
}

h1 {
	font-style: Arial;
	color: purple;
}

main {
	display: flex;
	flex-flow: row;
}

#round {
	float: left;
	width: 170px;
}

#item {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border-style: solid;
	border-color: blue;
}

.box {
	display: flex;
	flex-flow: column;
	align-items: center;
	height: 150px;
	min-width: 100px;
	margin: 1px;
	border-color: inherit;
	border-style: solid;
	border-width: 2px;
}

.pic {
	height: 60px;
	width: auto;
	justify-content: center;
}