* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: white;
}

h1 {
	font-family: Verdana, Geneva, sans-serif;
	color: black;
}

main {
	display: flex;
	flex-flow: row;
}

#round {
	float: left;
	width: 170px;
}

#item {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border-style: solid;
	border-color: blue;
}

.box {
	display: flex;
	flex-flow: column;
	align-items: center;
	height: 150px;
	min-width: 100px;
	margin: 1px;
	border-color: inherit;
	border-style: solid;
	border-width: 2px;
	background-color: grey;
}

.pic {
	height: 60px;
	width: auto;
	justify-content: center;
}

#savegame {
	color: black;
	background-color: white;
}

#newgame {
	color: white;
	background-color: grey;
}
